.text_view, .opt_view, .img_view, .info_block {
    position: absolute;
    overflow: auto;
}

.text_view {
    left: 10px;
    top: 10px;
    width: calc(50vw - 40px);
    height: calc(50vh - 40px);
    white-space: pre-wrap;
}

.opt_view {
    left: 10px;
    top: 50vh;
    width: calc(50vw - 40px);
    height: calc(50vh - 40px);
}

.activity_option {
	padding: 10px;
	cursor: pointer;
}

.activity_option:hover {
	background-color: rgba(128, 128, 128, 0.2);
}

.option_error {
	padding: 10px;
	color: #ffcccc;
}

.option_disabled_reason {
	color: #cccccc;
}

.option_in_group {
	margin-left: 20px;
}

.option_group {
	padding: 10px;
}

.option_group:hover {
	background-color: rgba(128, 128, 128, 0.2);
}

.img_view {
    left: 50vw;
    top: 10px;
    width: calc(50vw - 40px);
    height: calc(50vh - 40px);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    white-space: pre-wrap;
}

.info_block {
    left: 50vw;
    top: 50vh;
    width: calc(50vw - 40px);
    height: calc(50vh - 40px);
}

.date_block {
	height: 30px;
}

.subloc_block {
}

.race_block {
}

.voile {
	background-color: rgba(255, 255, 255, 0.5);
}

.map {
	left: 10vw;
	top: 10vh;
	width:80vw;
	height:80vh;
	background-color: #333333;
	border-radius: 5px;
	border: 1px solid white;
}

.map ol {
	color: white;
	margin-left: 50px;
}

.map li:not(.temp_map_subloc_selected):hover {
	text-decoration: underline;
	cursor: pointer;
}

.img_load_error_icon {
	display: inline-block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
	background-image: url('textures/img_load_error.png');
	height: 100%;
	width: 50%;
	vertical-align: middle;
}

.img_load_error_advice {
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	overflow: auto;
}

.img_load_error_advice h3 {
	font-size: 140%;
	border-bottom: 1px solid white;
}