/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #888;
}

body {
	font-family: Consolas, Lucida Console, Ubuntu, monospace;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	width: 100vw;
	height: 100vh;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
}

img {
	image-rendering: auto;
}

input {
	image-rendering: pixelated;
}

input[type="button"] {
	font-family: Consolas, Lucida Console, Ubuntu, monospace;
	font-size: 110%;
	color: #000000;
	background-color: rgba(0,0,0,0);
	background-image: url('textures/button_stone.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 50px;
	border: none;
}

input[type="button"]:disabled {
	color: #000000;
	background-image: url('textures/button_stone_disabled.png');
}

input[type="button"]:hover:disabled {
	color: #000000;
	background-image: url('textures/button_stone_disabled.png');
}

input[type="button"]:hover {
	background-image: url('textures/button_stone_hover.png');
}

#main_menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	text-align: right;
}

#main_menu input[type="button"] {
	text-align: center;
	width: 90%;
	margin: 1vh;
}

.game_view_block {
	overflow: auto;
	padding: 10px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	color: white;
}

.left_main_menu_panel {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.right_main_menu_panel {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	background-color: #333333;
	max-height: calc(100vh - 40px);
	overflow: hidden;
	width: 50vw;
}

#race_choice {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 5px;
}

.unselected_image_option {
	width: 20vh;
	height: 20vh;
	background-repeat: no-repeat;
	background-size:contain;
	background-position:center center;
	background-color: rgba(255, 255, 255, 0);
}

.selected_image_option {
	outline: 2px solid white;
	background-color: rgba(255, 255, 255, 0.5);
}

.main_menu_header {
	line-height: 50px;
	font-size: 25px;
	font-weight: bold;
}

.main_menu_block_under_header {
	overflow: auto;
	margin: 10px 0px;
}

.pda_left_column {
	width: calc(30% - 5px);
	display: inline-block;
	vertical-align: top;
	padding-right: 5px;
	overflow: auto;
	border-right: 1px solid white;
	height: calc(100vh - 60px - 50px);
	font-size: 90%;
}

.pda_right_column {
	padding: 10px;
	width: calc(70% - 1px - 20px);
	max-width: calc(70% - 1px - 20px);
	display: inline-block;
	vertical-align: top;
	height: calc(100vh - 60px - 50px);
}

.pda_right_column img {
	max-width: 90%;
	height: auto;
}

.pda_left_column_class_childnodes_block {
	margin-left:20px;
}

.pda_left_column_entry {
	width: 100%;
	padding: 5px 0px;
	cursor: default;
}

.pda_left_column_entry:hover {
	background-color: rgba(255, 255, 255, 0.1)
}

.pda_left_column_entry_selected {
	background-color: rgba(255, 255, 255, 0.2)
}

.pda_left_column_entry_selected:hover {
	background-color: rgba(255, 255, 255, 0.3)
}

.pda_left_column_entry_class {
	background-image: url('textures/arrow_pda_folder_closed.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto 20px;
	padding-right: 20px;
	width: calc(100% - 20px);
}

.pda_left_column_entry_class_opened {
	background-image: url('textures/arrow_pda_folder_opened.png');
}

.saved_game_entry {
	height: 46px;
	width: 100%;
	padding: 2px 0px;
	cursor: default;
	overflow: hidden;
}

.saved_game_entry:hover {
	background-color: rgba(255, 255, 255, 0.1)
}

.saved_game_entry_selected {
	background-color: rgba(255, 255, 255, 0.2)
}

.saved_game_entry_selected:hover {
	background-color: rgba(255, 255, 255, 0.3)
}

.saved_game_entry_empty {
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

.saved_game_info_part {
	height: 100%;
	width: 87%;
	display: inline-block;
	vertical-align: top;
}

.saved_game_img_part {
	height: 100%;
	width: 13%;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: top;
	background-color: #000000;
}

.saved_game_name {
	height: 26px;
	width: 100%;
	line-height: 20px;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.saved_game_actor {
	height: 20px;
	width: 100%;
	overflow: hidden;
}

.saved_game_actor>div, .saved_game_actor>img {
	margin-right: 10px;
}

.saved_game_gender {
	height: 10px;
	vertical-align: top;
	width: auto;
}

.saved_game_actor_name {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-size: 13px;
}

.saved_game_age {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
}

.saved_game_timestamp {
	display: inline-block;
	vertical-align: top;
	float: right;
	color: grey;
}

.saved_game_date {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	font-size: 13px;
	float: right;
}

.saved_game_date div {
	vertical-align: top;
	height: 100%;
}

.atmo_date_time_img {
	height: 100%;
	vertical-align: top;
	width: auto;
	margin-right: -10px;
}