body {
	font-family: Consolas, Lucida Console, Ubuntu, monospace;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	width: 100vw;
	height: 100vh;
}

img {
	image-rendering: auto;
}

input[type="button"] {
	font-family: Consolas, Lucida Console, Ubuntu, monospace;
	background: #ffffff;
}

input[type="button"]:hover {
	background: #dddddd;
}

#main_menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
}

#main_menu input[type="button"] {
	text-align: center;
	width: 90%;
	margin: 1vh;
}

.left_main_menu_panel {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.right_main_menu_panel {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	background: #777777;
}

#race_choice {
	table-layout: fixed;
	border-collapse: collapse;
}

.unselected_image_option {
	width: 20vh;
	height: 20vh;
	background-repeat: no-repeat;
	background-size:contain;
	background-position:center center;
	background-color: rgba(255, 255, 255, 0);
}

.selected_image_option {
	outline: 2px solid white;
	background-color: rgba(255, 255, 255, 0.5);
}